    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-95 ">
			<a class="navbar-brand" href="#">
					<img src="/assets/icons/computer-3.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
							<li class="nav-item active">
									<a class="nav-link" href="/">Start</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/me"><u>Ü</u>ber</a>
						</li>							
							<li class="nav-item">
									<a class="nav-link" href="/contact/"><u>K</u>ontakt</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Rechtliches
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="/impressum"><u>I</u>mpressum</a>
										<a class="dropdown-item" href="/datenschutzerklaerung"><u>D</u>atenschutzerklärung</a>
								</div>
						</li>
							<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Arbeiten
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<a class="dropdown-item" href="#"><u>B</u>ilder</a>
											<a class="dropdown-item" href="/tag/canvas"><u>L</u>einwand</a>
									</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Webseiten
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="//mindblast.space" target="_blank"><u>m</u>indblast.space</a>
										<a class="dropdown-item" href="//the.matrix.is.a.mindblast.space" target="_blank"><u>M</u>atrix</a>
										<a class="dropdown-item" href="//https://ooo.ejo.ooo-training-ooo.oje.ooo/" target="_blank"><u>T</u>rainings</a>
								</div>
						</li>									

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Social
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="https://twitter.com/0berfoerster" target="_blank"><u>T</u>witter</a>
										<a class="dropdown-item" href="https://www.facebook.com/ejo.netsroht" target="_blank"><u>F</u>acebook</a>
										<a class="dropdown-item" href="https://github.com/noconcept-design" target="_blank"><u>G</u>ithub</a>
								</div>
						</li>							
					</ul>
			</div>
	</nav>
